*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore

# Flutter/Dart build files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
flutter-plugins-dependencies
# Secrets and local configurations
lib/core/config/app_config.dart
*.log
scratch/
